[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.6b2"
"flake8" = "==3.5.0"
mypy = "*"
pytest-cov = "==2.7.1"
pytest-aiohttp = "*"

[packages]
aiohttp = "==3.5.4"
aiohttp-jinja2 = "==1.1.2"

[requires]
python_version = "3.7"
